configuration {
  display-drun: "Applications: ";
  display-windows: "Windows: ";
  drun-display-format: "{icon} {name}";
  font: "VictorMono NF";
   modi: "window,drun,run";
   show-icons: true;
   icon-theme: "Papirun";
}

// @theme "/usr/share/rofi/themes/android_notification.rasi"

@theme "./rofi-colors.rasi"
